body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050510;
  color: white;
  text-align: center;
}

.app {
  padding: 22px;
}

h1 {
  color: #00f7ff;
  text-shadow: 0 0 18px #00f7ff;
}

.controls {
  margin: 20px auto;
  max-width: 360px;
  padding: 18px;
  background: #101026;
  border-radius: 16px;
  box-shadow: 0 0 18px #00f7ff33;
}

label {
  display: block;
  margin: 10px 0;
  color: #aaa;
}

select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #050510;
  color: #00f7ff;
  font-size: 16px;
  outline: none;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
}

.signal-card {
  margin: 25px auto;
  padding: 25px;
  max-width: 360px;
  border-radius: 20px;
  background: #101026;
  box-shadow: 0 0 25px #00f7ff55;
}

#pairName {
  color: #ffd000;
}

#signal {
  font-size: 42px;
}

.buy {
  color: #00ff88 !important;
}

.sell {
  color: #ff3b3b !important;
}

.wait {
  color: #ffd000 !important;
}

button {
  padding: 14px 25px;
  margin: 8px;
  border: none;
  border-radius: 12px;
  background: #00f7ff;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.timer {
  margin-top: 15px;
  color: #00f7ff;
}

.log {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
  line-height: 1.6;
}